<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>Epicodus Hair Salon</h1>
      </div>

      #parse( $template )

    </div>
    <footer class="footer">
      <div class="container">
        <a href="/">Back to Index</a>
        <p class="text-muted small">Copyright 2016 Abigail Rolling</p>
      </div>
    </footer>

  </body>
</html>
